<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_计算属性简写</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        

     -->
    <!-- 准备一个容器 -->
    <div class="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        姓名：<span>{{fullName}}</span><br><br>
        姓名：<span>{{fullName}}</span><br><br>
        姓名：<span>{{fullName}}</span><br><br>
        姓名：<span>{{fullName}}</span><br><br>
        姓名：<span>{{fullName}}</span>
    </div>
    <script>
       Vue.config.productionTip = false //阻止 Vue 在启动时生成生产提示
       const vm = new Vue({
           el:'.root',
       data:{
           firstName:'张',
           lastName:'三'
       },
       computed:{
            //   完整写法：
           /* fullName:{
                get(){
                    console.log('get被调了')
                    return this.firstName + '-' + this.lastName
                },
                set(value){
                    console.log('set被调用了',value)
                    const arr = value.split('-')
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }}
                */
            // 简写（只考虑获取，不考虑修改）
            fullName(){
                console.log('get被调用了')
                return this.firstName + '-' + this.lastName
            }
                
    }
       })
    </script>
</body>
</html>